body{
	font-family: Microsoft YaHei;
}
form{
	display: block;
	position: relative;
	margin: 50px auto auto 30px;
	width: 600px;
	height: 300px;
}
input{
	margin-left: 5%;
	border: 1px solid #aaa;
	border-radius: 3px;
	width: 400px;
	height: 30px;
	font-size: 16px;
}
label{
	width: 12%;
	float: left;
	text-align: right;
}
p{
	margin: 15px auto 15px 17%;
	font-size: 12px;
}
button{
	position: absolute;
	right: 95px;
	height: 45px;
	width: 90px;
	background-color: darkblue;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	font-family: Microsoft YaHei;
	border: 1px solid;
	border-radius: 5px;
}
.info{
	color: #aaa;
}
.error{
	color: #f00;
	border-color: #f00;
}
.right{
	color: darkgreen;
	border-color: darkgreen;
}