<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="./assets/img/favicon.png" type="image/x-icon">
	<meta name="description" content="myphotogallery">
	<title>MyPhotoGallery-看电影也可以很有趣</title>
	<link rel="stylesheet" type="text/css" href="./dist/base.css">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
</head>
<body>
	<div id="app">
	<section id="navbar">
		<nav>
			<a href="#" id="brand"><img src="./assets/img/favicon.png">PhotoGallery</a>
			<ul>
				<li class="list-item"><a href="#">按类型 ▾</a>
					<ul>
						<li><a href="#" @click="addTag($event)">剧情</a></li>
						<li><a href="#" @click="addTag($event)">爱情</a></li>
						<li><a href="#" @click="addTag($event)">犯罪</a></li>
						<li><a href="#" @click="addTag($event)">科幻</a></li>
						<li><a href="#" @click="addTag($event)">恐怖</a></li>
						<li><a href="#" @click="addTag($event)">动作</a></li>
						<li><a href="#" @click="addTag($event)">喜剧</a></li>
						<li><a href="#" @click="addTag($event)">悬疑</a></li>
					</ul>
				</li>
				<li class="list-item"><a href="#">按地区 ▾</a>
					<ul>
						<li><a href="#" @click="addTag($event)">欧美</a></li>
						<li><a href="#" @click="addTag($event)">亚洲</a></li>
						<li><a href="#" @click="addTag($event)">美国</a></li>
						<li><a href="#" @click="addTag($event)">法国</a></li>
						<li><a href="#" @click="addTag($event)">英国</a></li>
						<li><a href="#" @click="addTag($event)">国产</a></li>
						<li><a href="#" @click="addTag($event)">港台</a></li>
						<li><a href="#" @click="addTag($event)">日本</a></li>
						<li><a href="#" @click="addTag($event)">韩国</a></li>
						<li><a href="#" @click="addTag($event)">其他</a></li>
					</ul>
				</li>
				<li class="list-item"><a href="#">按年代 ▾</a>
					<ul>
						<li><a href="#" @click="addTag($event)">10s~</a></li>
						<li><a href="#" @click="addTag($event)">00s</a></li>
						<li><a href="#" @click="addTag($event)">90s</a></li>
						<li><a href="#" @click="addTag($event)">80s</a></li>
						<li><a href="#" @click="addTag($event)">~70s</a></li>
					</ul>
				</li>
				<li class="list-item"><a href="#">按评分 ▾</a>
					<ul>
						<li><a href="#" @click="addTag($event)">9+</a></li>
						<li><a href="#" @click="addTag($event)">8+</a></li>
						<li><a href="#" @click="addTag($event)">7+</a></li>
						<li><a href="#" @click="addTag($event)">6+</a></li>
						<li><a href="#" @click="addTag($event)">~5</a></li>
					</ul>
				</li>
				<li class="list-item"><a href="#">按观影时间 ▾</a>
					<ul>
						<li><a href="#" @click="addTag($event)">2016~</a></li>
						<li><a href="#" @click="addTag($event)">2015</a></li>
						<li><a href="#" @click="addTag($event)">2014</a></li>
						<li><a href="#" @click="addTag($event)">2013</a></li>
						<li><a href="#" @click="addTag($event)">~2012</a></li>
					</ul>
				</li>
			</ul>
			<input type="text" name="tags" placeholder="按标签搜索" v-model="filter">
			<button @click="addPreface">Search Poster</button>
			<button @click="addShot">Search Screenshot</button>
		</nav>
	</section>
	<section id="body">
		<div>
			<picwall :factors="factors" @toinfo="toInfo">
		</div>
		<transition name="picinfo">
			<picinfo v-if="currView == 'picinfo'" :pid="pid" class="clearfix" @revisetag="reviseTag">
		</transition>
	</section>
	</div>
	<footer>
		<p>&copy; shenlvmeng 2017</p>
		<p>使用半角逗号隔开标签，照片信息中的tag亦可以点击</p>
	</footer>
	<script type="text/javascript" src="./dist/base.min.js"></script>
</body>
</html>