body{
	font-family: SimHei;
}
table{
	margin-top: 50px;
	margin-left: 50px;
	border-spacing: 2px;
}
thead{
	background-color: #000;
	color: #fff;
	text-align: left;
}
tbody tr:nth-child(even){
	background-color: #aaa;
}
tbody tr:nth-child(-n+3){
	color: red;
}
input{
	margin-top: 50px;
	margin-left: 50px;
	width:100px;
	transition: width 3s linear;
	-webkit-transition:width 3s linear;
}
input:focus{
	width: 550px;
}
a{
	text-decoration: none;
}
div.shuffle{
	width: 300px;
	height: 110px;
	position: relative;
	margin: 50px 0 50px 20px;
}
div.color_box{
	width: 300px;
	height: 110px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	transform: translateX(0);
}
div.color_box:target{
	z-index: 2;
	animation: slide .5s forwards;
}
div.shuffle div.folder{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 3;
}
div.shuffle div.index{
	width: 25px;
	height: 25px;
	margin-left: 1px;
	float:left;
	text-align: center;
	color: #fff;
	line-height: 25px;
	background-color: rgba(255,255,255,0.5);
	z-index: 3;
}
#purple{
	background-color: purple;
}
#green{
	background-color: green;
}
#blue{
	background-color: blue;
}
@keyframes slide{
	0%{transform: translateX(-100%);}
	100%{transform: translateX(0);}
}