body{
	opacity: 0;
}
.header{
	font-family: Microsoft Yahei;
}
article{
	border-bottom: 0;
	width: 33.2%;
}
.panel{
	height: 27%;
	padding: 3% 3%;
	border-bottom: 2px solid #eee;
}
.panel p{
	padding-left: 30px;
}