body{
	opacity: 0;
}
.header{
	font-family: Microsoft Yahei;
}
article{
	border-bottom: 0;
	width: 24.9%;
}
.panel{
	height: 27%;
	padding: 3% 1%;
	border-bottom: 2px solid #eee;
}
.panel p{
	padding-left: 30px;
}