body{
	margin: 0;
	padding: 20px;
	font-family: "SimHei", "Microsoft YaHei"
}
article{
	background-color: #eee;
	border: 1px solid #999;
	padding: 20px;
	position: relative;
	overflow: hidden;
	min-height: 520px;
}
section{
	background-color: white;
	padding: 20px;
	border: 1px solid #999;
	vertical-align: top;
}
figure{
	margin: 0px;
}
img{
	width: 80px;
}
figure img{
	margin: 20px;
	display: block;
}
.team{
	position: absolute;
	float: left;
	padding: 20px;
	width: 200px;
}
.team span{
	float: right;
	padding-right: 30px;
}
.content{
	float: left;
	margin-left: 260px;
	margin-right: 140px;
}
.personal{
	position: absolute;
	float: right;
	width: 120px;
	right: 20px;
	padding: 0px;
}